\documentclass{article}
\usepackage[utf8]{inputenc}

\date{}

\begin{document}
\begin{titlepage}
	\centering
	
	{\scshape\LARGE Izmir University of Economics \par}
	\vspace{1cm}
	{\scshape SE302-Principles of Software Engineering\par}
	\vspace{1.5cm}
	{\huge\bfseries Collection Software\par}
	\vspace{2cm}
	{\Large\bfseries Developed By\par}
	{\Large\itshape Sercan Kavdır\par}
	{\Large\itshape Mert Kesimli\par}
	{\Large\itshape Mert Filiz\par}
	{\Large\itshape Mustafa Sarıgul\par}
	{\Large\itshape Yigitcan Yilmaz\par}
	{\Large\itshape Berk Gursoy\par}
	\vfill
	Project Manager and Customer\par
	Kaya Oguz \textsc
	\vfill
	
\end{titlepage}


\section{User Requirements}
\subsection{Functional User Requirements}
\begin{itemize}
\item The user shall be able to create a new collection to store items (music albums, games, books etc. ).
\item The user shall be able to assign the features of the collection. In example, for books (title,author,number of pages etc. ).
\item After all attributes assigned, the user shall be able to assign new features to collections.
\item The user shall be able to add or delete items on collections.
\item The user shall be able to update items and collections.
\item The user shall be able to list all items.
\item After creating collections, the user shall be able to list selected collection items.
\item The user should be able to sort selected collection by their features.
\item The user shall be able to search items by their features on selected collections.
\item The user shall be able to save their collections. Later in the future, the user shall be able to open saved projects.
\end{itemize}


\subsection{Non-functional User Requirements}
\begin{itemize}
\item To operate properly, Software requires fundamental computer skills.
\item At the same time, only one user may use the software.
\item Entered data by user have to be valid.
\item To use software, user must have basic English knowledge.
\end{itemize}

\section{System Requirements}
\subsection{Functional System Requirements}
\begin{itemize}
\item When the user clicked to new button on the top, a new collection shall be able to seen after assigning the name of the collection and selects how many attributes the user would like to give for the collection.
\item After the user selects number of attributes, different text boxes and combo boxes shall be able to created by the program.
\item Name of the attributes, attributes types (int, string, etc.), required or optional attributes and description of the attributes shall be able to assigned by the user.
\item After the user clicks to create button on the pop-up, created collection shall be able to seen.
\item In the edit button on the top, the user shall be able to create a new attribute or delete an attribute of the selected collection.
\item When the user would like add an item to the collection, add button, on the top, will help to add the item to the selected collection. Also, add screen shall be able to seen on the monitor to fill the features of the attributes.
\item In the edit button on the top, the user shall be able to delete or update the items of the selected collection.
\item In the main page of the program, the user shall be able to list all the items of the collections or by clicking the collection name, the user shall be able list only the selected list.
\item The user shall be able to search an item through all items or the items shall be able to searched only in selected collection.
\item The user should be able to import data from excel to SQLite.
\end{itemize}

\subsection{Non-Functional System Requirements}
\begin {itemize}
\item Software should support Windows 10.
\item The user shall not be able to create a collection without name.
\item The user shall not be able to create a collection without fill the required attributes. 
\item The user shall be create an item only the values of the attributes
\end {itemize}





\end{document}
